body {

    text-align: center;
    color: #373A3C;
}

body *{
    margin: 0;
}

nav, footer {

    background-color: #660066;
    color: #ffffff;
}

nav li a {

    text-decoration: none;
}

.card-body img {
    width:100%;
    height: 230px;
}

  header.masthead {
    text-align: center;
    color: white;
    background-image: url("../img/bg_hero.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

.text-right {

    color: #ffffff;
}

.purple {

    background-color: #660066;
    padding: 50px 50px;
}

.trabajos {

    color: #ffffff;
}

header {

    background-image: url('../img/bg_hero.png');
    background-repeat:no-repeat;
    color: #ffffff;
    padding: 50px 50px 650px 50px;

}

.in-bl {

    display: inline-block;
}

.foot {

    padding: 50px;
}

nav {

    position: fixed;
    width: 100vw;
    padding: 20px 50px;
    
}

#purple {
    background-color: #660066 !important;
}

.footer {

    height: 100px !important;
}

.right {
    text-align: right !important;
}
